body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main{
    display: grid;
    place-items: center;
    place-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem;
    border-radius: 0.6rem;
}
.main h1{
    font-weight: 600;
    color: #038168;
}
.container .main h2{
    color: #038168;
}

.main .texto{
    text-align: center;
}

.main .email{
    width: 100%;
}

.main a{
    text-decoration: none;
    font-weight: 600;
    color:#666;
    font-size: 1.125rem;    
}
.main .btn-recoverpass{
    width: 100%;
    font-weight: 600;
    background-color: #038168;
    color: white;
    border: none;
    margin-top: 0.5rem;
    border-radius: 0.6rem;
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-password .input-container {
    position: relative;
    margin-bottom: 1rem;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #888;
    box-sizing: border-box;
    outline: none;
    text-indent: 10px;
    border: none;
    border-bottom: #02a282 1px solid;
}

.input-container .password-toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 3px;
    right: 2px;
    color: #038168;
    border-radius: 50%; 
    text-align: center;
    line-height: 35px;
    font-size: 1.5rem;
    cursor: pointer;
}

.input-container .password-toggle.active i.fa-eye {
    display: none;
}

.input-container .password-toggle.active i.fa-eye-slash {
    display: inline;
}

.input-container .password-toggle i.fa-eye-slash {
    display: none;
}

.password-policies {
    position: relative;
    top: 0px;
    left: 50%;
    transform:translateX(-50%);
    width: 90%;
    padding: 0px;
    height: 0px;
    background: #038168;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    transition: height 300ms ease-in-out,
                opacity 300ms ease-in-out;
}
.password-policies.active {
    opacity: 1;
    padding: 10px;
    height: 180px;
}

.password-policies > div {
    margin: 15px 10px;
    font-weight: 600;
    color: rgb(163, 163, 163);
    font-size: 1rem;
    font-weight: 400;
}

.password-policies > div.active {
    color: white;
}