@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background-color: white;
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: white;
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
        background-color: #02a282 ;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
		display: contents;
	}
	
	.btn-menu {
		float: left;
		margin-right: 50px;
		text-align: left;
		
	}
	.nombre_usuario{
		margin-right: 30px;
	}
	.container .btn-menu label{
		color: rgb(0, 0, 0);
		font-size: 25px;
		cursor: pointer;
	}
	.logo {
		color: rgb(255, 255, 255);
		font-weight: 400;
		font-size: 22px;
		margin-left: 200px;
		margin-top: 20px;
		display: flex;
	}

	.utd{
		margin-right: auto;
		margin-left: 70px;
	}
	.container .menu{
		float: right;
		line-height: px;
		border-top: 50px;
	}
	.usuario{
		text-align: right;	
		text-decoration: none;
		color: rgb(255, 255, 255);
		transition: all 0.3s ease;
		border-bottom: 50px solid transparent;
		font-size: 24px;
		
	}
	.container .usuario h5{
		border-top: 50px;
		line-height: normal;
		text-decoration: none;
		color: rgb(0, 0, 0);
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 35px;
		margin-right: 5px;
		background-color: #efb801;
		border-radius: 10px;
		box-shadow: black 15px;
		display: flex;
	}
	.container .usuario h5:hover{
		
		padding-bottom:px;
		box-shadow: black 15px;
		cursor: pointer;
		text-align: center;
        
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: flex;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 20%;
		background:white;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
        height: 100%;
        
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #02a282;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
        
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #02a282;
		background: #efb801;
        font-weight: bold;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #02a282;
		cursor: pointer;
		font-size: 18px;
	}

	.tabla-planeaciones{
		text-align: center;
		justify-content: center;
		
	}
	.categorias{
		background-color: #efb801;
	}
	.columnas{
		background-color: #02a282;
		color: white;
	}

	.eliminar{
		background-color: rgb(255, 0, 0);
		width: 100%;
		height: 100%;
		cursor: pointer;
		color:white;
	}
	.tabla_actualizar{		
		text-align: center;
		justify-content: center;
		height: auto;
		width: auto;
	}
	.datos{
		text-align: center;
		justify-content: center;
	}
	.btn_acciones{
	background-color: blue;
	width: 100%;
	height: 100%;
	cursor: pointer;
	color:white;
	text-decoration: none;
	}
.guardar{
	
		color: black;
		width: 100%;
		height: 100%;
		cursor: pointer;
		
}
.fonsai{
	font-size: 25px;
}
.title{
	padding-left: 1px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #02a282;
    display: inline-block;
}

.inputfile:focus + label, .inputfile + label:hover {
    background-color: #efb801;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #02a282;
	outline: -webkit-focus-ring-color auto 5px;
}
/*usuario*/


/*Boton eliminar*/
.inputfile-bor {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile-bor + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #02a282;
    display: inline-block;
}

.inputfile-bor:focus + label, .inputfile + label:hover {
    background-color: #efb801;
}
.inputfile-bor + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile-bor:focus + label {
	outline: 1px dotted #02a282;
	outline: -webkit-focus-ring-color auto 5px;
}
/*tarjetas de clases*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	text-align: center;
	width: 100%;
	display: grid;
	max-width: 1100px;
	margin: auto;
	grid-template-columns: 7fr 7fr 7fr;
	grid-template-rows: auto auto auto;
	border-spacing: 10px 5px;
	justify-content: center;
    align-items: center;
	
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}
.card{
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
@media only screen and (max-width: 1030px){
	.card{ 
	   flex-direction: column;
	   justify-content: center;
	   align-items: center;
	   height: auto;
	   display: flex;
	}
	.container-card{ 
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		display: flex;
	 }
	 .contenido-card{ 
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		display: flex;
	 }
}
.user{
	font-size: 30px;
	text-align: center;
	color: black;
}

.container-buscador {
    width: 50%;
  margin: auto;
    margin-top: 3vmin;
    display: inline-flex;
    height: max-content;
    justify-content: center;
    justify-items: center;

}

.buscador {
    margin-right: 3vmin;
    border: none;
    outline: none;
    width: 30vmin;
    line-height: 3vmin;
    text-align: left;
    padding: 1vmin;
    font-size: 3vmin;
}
.excel{
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    color: #fff;
    background-color: rgb(90, 194, 95);
    border-radius: 4px;
    width: fit-content;
    height: max-content;
    padding: 1vmin;
    text-align: center;
    line-height: 3vmin;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
    font-weight: 300;
    transition: all .4s ;
}
.excel:hover{
    background-color: rgb(46, 134, 61);
}
.pag_btn {
    border-radius: 4px;
    margin: 4px;
    padding: 5px;
    cursor: pointer;
    border: none;
    color: #000;
   }
   .pag_btn:hover{
color: #fff;
    background-color: rgba(20, 9, 59, 0.959);
   }
    
   .pag_btn_des {
    border-radius: 4px;
    margin: 4px;
    padding: 5px;
    font-size: 14pt;
    cursor: pointer;
    border: none;
   }
    
   .numero_page{
    color: rgb(8, 7, 7);

    border-radius: 4px;
    margin: 4px;
    padding: 5px;
    cursor: pointer;
    border: none;
    
   }